.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  box-sizing: border-box;
}

.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: z("header") - 10;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  .offline-ui-content:before {
    display: inline;
  }
  .offline-ui-retry {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: none;
    &:before {
      display: inline;
    }
  }
  &.offline-ui-up.offline-ui-up-5s {
    display: block;
  }
  &.offline-ui-down {
    display: block;
    &.offline-ui-waiting .offline-ui-retry {
      display: block;
    }
    &.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
      display: none;
    }
  }
}


@keyframes offline-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes offline-fadeout-and-hide {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes offline-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

.offline-ui {
  border-radius: 0.25em;
  padding: 0.75em 1em;
  bottom: 0;
  width: 600px;
  max-width: 100%;
  overflow: hidden;
  .mobile-view & {
    bottom: 50px;
    border-radius: 0;
  }
  .tab-bar-hidden & {
    bottom: 0;
  }
  .offline-ui-content:before {
    line-height: 1.25em;
  }
  .offline-ui-retry {
    position: absolute;
    right: 3em;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    line-height: 3.5em;
    height: 3.5em;
    margin: auto;
    padding: 0 1em;
  }
  &.offline-ui-up {
    animation: offline-fadeout-and-hide forwards 0.5s 2s;
    -webkit-backface-visibility: hidden;
    background: #d6e9c6;
    color: #468847;
  }
  &.offline-ui-down {
    animation: offline-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    background: #ec8787;
    color: #551313;
    &.offline-ui-connecting,
    &.offline-ui-waiting {
      background: #f8ecad;
      color: #7c6d1f;
      padding-right: 3em;
      &:after {
        border-radius: 50%;
        content: " ";
        display: block;
        position: absolute;
        right: 1em;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 1em;
        width: 1em;
        border: 2px solid rgba(0, 0, 0, 0);
        border-top-color: #7c6d1f;
        border-left-color: #7c6d1f;
        opacity: 0.7;
        border-radius: 50%;
        animation: offline-rotation 0.7s linear infinite;
      }
    }
    &.offline-ui-waiting {
      padding-right: 11em;
      &.offline-ui-reconnect-failed-2s {
        padding-right: 0;
      }
    }
  }
}

// Language

.offline-ui .offline-ui-retry:before {
  content: "most";
}
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "A számítógéped kapcsolódik az internethez...";
}
@media (max-width: 1024px) {
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "A készüléked kapcsolódik az internethez...";
  }
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "A készüléked kapcsolódik az internethez...";
  }
}
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "A számítógéped elvesztette az internetkapcsolatot...";
}
@media (max-width: 1024px) {
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "A készüléked elvesztette az internetkapcsolatot...";
  }
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "A készüléked nem kapcsolódik az internethez...";
  }
}
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Újrakapcsolódási kísérlet...";
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Az internetkapcsolat megszakadt. Újrakapcsolódás " attr(data-retry-in-value) "mp...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
    content: "Újrakapcsolódás " attr(data-retry-in-value) "mp...";
  }
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Az internetkapcsolat megszakadt. Újrakapcsolódás " attr(data-retry-in-value) "mp...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
    content: "Újrakapcsolódás " attr(data-retry-in-value) "mp...";
  }
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Az internetkapcsolat megszakadt. Újrakapcsolódás " attr(data-retry-in-value) "p...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
    content: "Újrakapcsolódás " attr(data-retry-in-value) "p...";
  }
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Az internetkapcsolat megszakadt. Újrakapcsolódás " attr(data-retry-in-value) "p...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
    content: "Újrakapcsolódás " attr(data-retry-in-value) "p...";
  }
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Az internetkapcsolat megszakadt. Újrakapcsolódás " attr(data-retry-in-value) "ó...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
    content: "Újrakapcsolódás " attr(data-retry-in-value) "ó...";
  }
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Az internetkapcsolat megszakadt. Újrakapcsolódás " attr(data-retry-in-value) "ó...";
}
@media (max-width: 568px) {
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
    content: "Újrakapcsolódás " attr(data-retry-in-value) "ó...";
  }
}
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
  display: none;
}
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before {
  content: "A kapcsolódási kísérlet sikertelen...";
}
