.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  box-sizing: border-box;
}

.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: z("header") - 10;
  margin: auto;
  bottom: 0.5em;
  left: 0;
  right: 0;
  .offline-ui-content:before {
    display: inline;
  }
  .offline-ui-retry {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: none;
    &:before {
      display: inline;
    }
  }
  &.offline-ui-up.offline-ui-up-5s {
    display: block;
  }
  &.offline-ui-down {
    display: none;
    &.offline-ui-waiting .offline-ui-retry {
      display: none;
    }
    &.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
      display: none;
    }
  }
}


@keyframes offline-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes offline-fadeout-and-hide {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes offline-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

.offline-ui {
  border-radius: 1em;
  padding: 0.75em 1em;
  bottom: 0.5em;
  text-align: center;
  width: 600px;
  max-width: 100%;
  overflow: hidden;
  @media (max-width: 600px) {
    width: calc(100% - 20px);
  }
  .mobile-view & {
    bottom: calc(50px + 1em);
  }
  .tab-bar-hidden & {
    bottom: 1em;
  }
  .offline-ui-content:before {
    line-height: 1.25em;
  }
  .offline-ui-retry {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    line-height: 2;
    width: max-content;
    margin: 0.5em auto 0 auto;
    padding: 0 1em;
    border-radius: 1em;
  }
  &.offline-ui-up {
    animation: offline-fadeout-and-hide forwards 0.5s 2s;
    -webkit-backface-visibility: hidden;
    background: var(--success-low);
    color: var(--success-hover);
    border: 1px solid var(--success-hover);
  }
  &.offline-ui-down {
    animation: offline-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    background: var(--danger-low);
    color: var(--danger-hover);
    border: 1px solid var(--danger-hover);
    &.offline-ui-connecting,
    &.offline-ui-waiting {
      background: var(--tertiary-low);
      color: var(--tertiary-hover);
      border: 1px solid var(--tertiary-hover);
      &:after {
        border-radius: 50%;
        content: " ";
        display: block;
        position: absolute;
        right: 1em;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 1em;
        width: 1em;
        border: 2px solid rgba(0, 0, 0, 0);
        border-top-color: var(--tertiary-hover);
        border-left-color: var(--tertiary-hover);
        opacity: 0.7;
        border-radius: 50%;
        animation: offline-rotation 0.7s linear infinite;
      }
    }
  }
}

// Language

.offline-ui {
  font-weight: 600;
  .offline-ui-retry:before {
    content: "Újrakapcsolódás most";
  }
  &.offline-ui-up {
    .offline-ui-content:before {
      content: "Jelenleg online vagy!";
    }
  }
  &.offline-ui-down {
    .offline-ui-content:before {
      content: "Jelenleg offline vagy!";
    }
    &.offline-ui-connecting,
    &.offline-ui-connecting-2s {
      .offline-ui-content:before {
        content: "Újrakapcsolódási kísérlet...";
      }
    }
    &.offline-ui-waiting {
      .offline-ui-content {
        &[data-retry-in-unit="second"] {
          white-space: pre;
          &:before {
            content: "Jelenleg offline vagy! Újrakapcsolódás " attr(data-retry-in-value) "mp...";
            @media (max-width: 600px) {
              content: "Jelenleg offline vagy! \A Újrakapcsolódás " attr(data-retry-in-value) "mp...";
            }
          }
          &[data-retry-in-value="1"]:before {
            content: "Jelenleg offline vagy! Újrakapcsolódás " attr(data-retry-in-value) "mp...";
            @media (max-width: 600px) {
              content: "Jelenleg offline vagy! \A Újrakapcsolódás " attr(data-retry-in-value) "mp...";
            }
          }
        }
        &[data-retry-in-unit="minute"] {
          white-space: pre;
          &:before {
            content: "Jelenleg offline vagy! Újrakapcsolódás " attr(data-retry-in-value) "p...";
            @media (max-width: 600px) {
              content: "Jelenleg offline vagy! \A Újrakapcsolódás " attr(data-retry-in-value) "p...";
            }
          }
          &[data-retry-in-value="1"]:before {
            content: "Jelenleg offline vagy! Újrakapcsolódás " attr(data-retry-in-value) "p...";
            @media (max-width: 600px) {
              content: "Jelenleg offline vagy! \A Újrakapcsolódás " attr(data-retry-in-value) "p...";
            }
          }
        }
        &[data-retry-in-unit="hour"] {
          white-space: pre;
          &:before {
            content: "Jelenleg offline vagy! Újrakapcsolódás " attr(data-retry-in-value) "ó...";
            @media (max-width: 600px) {
              content: "Jelenleg offline vagy! \A Újrakapcsolódás " attr(data-retry-in-value) "ó...";
            }
          }
          &[data-retry-in-value="1"]:before {
            content: "Jelenleg offline vagy! Újrakapcsolódás " attr(data-retry-in-value) "ó...";
            @media (max-width: 600px) {
              content: "Jelenleg offline vagy! \A Újrakapcsolódás " attr(data-retry-in-value) "ó...";
            }
          }
        }
      }
    }
    &.offline-ui-reconnect-failed-2s {
      &.offline-ui-waiting {
        .offline-ui-retry {
          display: none;
        }
      }
      .offline-ui-content:before {
        content: "A kapcsolódás sikertelen...";
      }
    }
  }
}
